@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(250, 248, 240);
}
a{
    text-decoration: none;
    font-size: 20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header ul{
    
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
    font-size: 20px;
    margin: 10px;
    font-size: 27;
    color: rgb(252, 137, 70);
}

img{
    width: 150px;
}
h1{
    font-size: 34px;
    color: rgb(252, 137, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    color: rgb(0, 6, 37);
    font-family: "Oswald", sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgb(255, 242, 201);
}

#diferencias{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#diferencias iframe{
    padding: 10px;
    margin: 10px;
}

.box{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion{
    background-color: rgb(150, 212, 253);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion h1{
    font-size: 35px;
    color: rgb(9, 0, 90);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.presentacion p{
    width: 70%;
    font-size: 30px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
}

.box img{
    border-radius: 50%;
}

.box p{
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: rgb(150, 212, 253);

}
